body {
  
  background-image: linear-gradient(
    to bottom,
    orange,
    pink 40%,
    rgb(229, 247, 193) 100%
  );
  height: 100vh;
}
.container{
  position: absolute;
  left: 40%;
}
input {
  text-align: center;
  border-radius: 30px;
  height: 50px;
  width: 300px;
  margin: 20px 10px;
  font-size: large;
  background-color: rgb(218, 234, 239);
  border: solid 3px black;
  box-shadow: 5px 5px 5px black;
}
label {
  font-size: x-large;
  color: rgb(15, 15, 15);
  text-shadow: 4px 2px 2px gray;
}
h1 {
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  letter-spacing: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 2px rgb(0, 0, 0);
  position: relative;
  left:35%
}
h1:hover {
  color: limegreen;
}
.feedStoreDiv {
  width: 80%;
  /* padding: 10px; */
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(0, 191, 255);
  border-radius: 10px;
  /* border: 2px solid black; */
}
.feedStoreData {
  height: 90px;
  line-height: 40px;
  width: 500px;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(250, 0, 42);
  border-radius: 18px;
}
.backBtn {
  height: 70px;
  width: 200px;
  font-size: x-large;
  border-radius: 30px;
  color: tomato;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  box-shadow: 3px 3px 5px black;
  position:absolute;
  left: 700px;
}
.backBtn:hover {
  font-size: xx-large;
  background-color: fuchsia;
}
